# common file patterns
.DS_STORE
.idea
*.iml
*.pyc
__pycache__
*.jar
*.class
.project
*.prefs
_build
venv
*.log
*.tar.gz
*.db
*.db-journal

# logs
**/logs/*
**/data/*

# editable install
PKG-INFO
entry_points.txt
dependency_links.txt
requires.txt
SOURCES.txt
top_level.txt